div(id=html_id, class=('layout' if html_class == undefined else 'layout ' + html_class))
    each item in html
        - if (item['is_layout'])
            ${item['html']|n}
        -else
            .block
                ${item['html']|n}